/* Navbar */
.navbar{
    padding: 2rem 0 4.5rem !important;

    font-family: 'Ubuntu', sans-serif;
}

/* Title */
#title{
    padding-bottom: 10%;
    background-color:#ff4c68;
}
.title-col{
    text-align: center;
}
.title-img{
    position:absolute;
    width: 20%;
    
    transform: rotate(20deg);
}

.download-btn{
    margin: 5% 3% 5% 0;
}
h1{
    font-size: 3.5rem !important;
    line-height: 1.5;
    font-family: 'Montserrat-bold', sans-serif ;
    
    color: white;
}
/* row-features */

#features{
    z-index: +1;
    position: relative;
   background-color: white;
    padding: 7% 15%;
    text-align: center;
}
   

.col-features{
    padding: 5%;
}
.icon-features{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon-features:hover{
    color: #ff4c68;
}
/* Testimonials */


#testimonials{
    background-color: #ef8172;
    text-align: center;
}
.testimonial123{
    padding: 7% 15%;
}
.text-h2{
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    text-align: center;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    text-align: center;
}
.img1{
    margin: 20px;
    border-radius: 100%;
    width:10% !important;
}
.testimonial-image{
    margin: 20px;
    border-radius: 50%;
    width:10% !important;
}



/* press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-img{
    width: 20%;
}
/* Pricing */

#pricing{
    text-align: center;
    padding: 7% 15%;
}

#pricing h2  {
    font-size: 3rem !important;
   }

.prising-h{
    font-size: 3rem !important;
}

/* Cta */
#cta{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 7% 15%;
}

/* footer */
#footer{
    text-align: center;
}
.icon-footer{
    padding: 1%;
}


@media (max-width:900px){
    .title-img{
    position: relative !important;
    width: 60% !important;
    transform: rotate(20deg);
    left:20%;
    }
   
}